extends layout

block content
	h1= title
	
	div(
		ng-app="PerformanceBenchmark",
		ng-controller="MainController"
	)
		div( id-dashboard )

	ul
		each val in data
			li= val.requrl

	scirpt(src="http//code.jquery.com/jquery-1.10.2.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js")
	script(src="/libs/socket.io.js")
	script(src="/libs/when.js")
	script(src="/libs/socket.io-rpc-client.js")
	script(src="/js/app.js")