extends layout

block content
	h1= title
	
	div(
		ng-app="PerformanceBenchmark",
		ng-controller="MainController"
	)
		div( id-dashboard )

	//- ul
	//- 	each entry in data
	//- 		li= entry.url

	script(src="http://code.jquery.com/jquery-2.0.3.min.js")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js")
	script(src="/libs/socket.io.js")
	script(src="/libs/when.js")
	script(src="/libs/socket.io-rpc-client.js")
	script(src="/js/app.js")