doctype 5
html
	head
		title= title

		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css")

		link(rel="stylesheet", href="/css/dashboard.css")

	body

		div.container
			block content


