div.dashboard

	div.row
		div.col-md-4.col-md-offset-8
			div.input-group
				
				div.input-group-btn.dropdown
					button.btn.btn-default.dropdown-toggle( type="button", data-toggle="dropdown", ng-class="{'dropup' : sortRev}")
						span {{ sortTerm | sortlbl }}
						span.caret(ng-hide="sortTerm == 'default' ")
					ul.dropdown-menu
						li
							a(href="#", ng-click="sortBy('title')", ng-class="{'dropup' : !sortRev}") 
								span Sort by title
								span.caret
						li
							a(href="#", ng-click="sortBy('average.browser')", ng-class="{'dropup' : !sortRev}") 
								span Sort by load time	
								span.caret
				input.form-control(type="text", placeholder="Filter", ng-model="searchText")
				
	p						
		ul.list-group
			li.list-group-item(ng-repeat="entry in data | filter:searchText | orderBy:sortTerm:sortRev")
					a.title(href="{{entry.url}}") {{entry.title}}
					span.label.label-default {{entry.average.browser | sec }}





